.hero-left {
    max-width: 600px;
}

.hero-tag {
    display: inline-block;
    color: #5A51F6;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 800;
    color: #151E32;
    line-height: 1.1;
    margin-bottom: 10px;
}

.hero-role {
    font-size: 2rem;
    font-weight: 700;
    color: #5A51F6;
    height: 55px;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 1.05rem;
    color: #6b7280;
    line-height: 1.8;
    max-width: 560px;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.btn-primary,
.btn-secondary {
    padding: 14px 32px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.contact_me {
    background: #5A51F6;
    border-radius: 10px !important;
    color: #fff;
    border: none;
}

.contact_me:hover {
    background: #463de6;
    transform: translateY(-3px);
}

.btn-secondary {
    background: transparent;
    color: #5A51F6;
    border: 2px solid #5A51F6;
}

.btn-secondary:hover {
    background: #5A51F6;
    color: #fff;
    transform: translateY(-3px);
}

@media (max-width: 992px) {
    .hero-left {
        text-align: center;
        max-width: 100%;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-role {
        font-size: 1.6rem;
    }

    .hero-description {
        margin: 0 auto 30px;
    }

    .hero-buttons {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .hero-project-swiper .swiper-slide {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 50px;
    }

    .project-image {
        height: 290px !important;
    }

    .hero-prev {
        top: 44em !important;
        left: -1% !important;
    }

    .hero-next {
        top: 44em !important;
        right: 0em !important;
    }

    .hero-role {
        font-size: 22px;
        height: 45px;
        margin-bottom: 0;
    }

    .hero-left {
        padding-right: 0 !important;
        margin-top: 20px;
    }

    .hero-description {
        font-size: 18px;
    }

    .btn-primary,
    .btn-secondary {
        width: 100%;
    }
}


/* right side css */

/*==================================
      RIGHT HERO PROJECT SECTION
===================================*/

.hero-project-swiper {
    width: 100%;
    padding: 30px 0 70px;
}

.hero-project-slide {
    width: 340px !important;
    height: 500px;
    transition: all .5s ease;
}

/* Active Slide */

.swiper-slide-active {
    transform: scale(1.05);
}

/*==================================
        PROJECT CARD
===================================*/

.project-card {
    position: relative;
    width: 100%;
    height: 550px;
    border-radius: 24px;
    overflow: hidden;
    cursor: pointer;
    background: #111827;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .18);
    transition: all .45s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 35px 80px rgba(0, 0, 0, .25);
}

/*==================================
        PROJECT IMAGE
===================================*/

.project-image {
    width: 100%;
    height: 210px;
    padding: 11px;
    border-radius: 20px;
    object-fit: fill;
    transition: 1s ease;
}

.project-card:hover .project-image {
    transform: scale(1.12);
}

.view_projects {
    background-color: #fff !important;
    color: black !important;
    border-radius: 10px !important;
    border: 1px solid var(--primary) !important;
}

.view_projects:hover {
    background-color: var(--secondary) !important;
    color: white !important;
}

/*==================================
        OVERLAY
===================================*/

.project-overlay {

    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 28px;

    background: linear-gradient(to top,
            rgba(8, 10, 25, .92) 5%,
            rgba(8, 10, 25, .65) 40%,
            rgba(8, 10, 25, .15) 70%,
            transparent);

}

/*==================================
      CATEGORY BADGE
===================================*/

.project-category {

    display: inline-flex;
    align-items: center;
    width: fit-content;

    padding: 2px 10px;

    border-radius: 50px;

    color: #fff;

    font-size: 14px;

    font-weight: 600;

    margin-bottom: 18px;

}

/*==================================
        TITLE
===================================*/

.project-title {

    color: var(--primary);

    font-size: 1.5rem;

    font-weight: 700;
    padding: 2px 7px;

    margin-bottom: 6px;

    line-height: 1.3;

}

/*==================================
        TECH STACK
===================================*/

.project-tech {

    display: flex;

    flex-wrap: wrap;

    gap: 5px;

    margin-bottom: 28px;

}

.project-tech span {

    padding: 8px 8px;

    border-radius: 50px;

    background: var(--secondary);
    backdrop-filter: blur(12px);
    color: white;

    font-size: .72rem;

    font-weight: 500;
    transition: transform 0.3s ease;

}

.project-tech span:hover {
    background: var(--primary);
    color: white;
    transform: translateX(6px);


}

.project-btn-icon {
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.project-btn:hover .project-btn-icon {
    transform: translateX(6px);
}

/*==================================
        BUTTONS
===================================*/

.project-buttons {

    display: flex;

    gap: 15px;

}

.project-btn {

    flex: 1;

    display: flex;

    justify-content: center;
    border: 1px solid var(--primary);
    align-items: center;

    gap: 8px;

    text-decoration: none;

    padding: 13px;

    border-radius: 14px;

    background: rgba(255, 255, 255, .12);

    color: #fff;

    backdrop-filter: blur(12px);

    transition: .35s;

    font-weight: 600;

}

.project-btn:hover {

    background: #ffffff;

    color: #111827;

}

.project-btn.primary {

    background: #524caf;

}

.github_button {
    transition: all 0.35s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.github_button:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.25);
}

.project-btn.primary:hover {

    background: #655ef0;
    transform: translateX(6px);
    color: #fff;

}

/*==================================
        PAGINATION
===================================*/

.hero-project-swiper .swiper-pagination {

    bottom: -2px !important;

}

.hero-project-swiper .swiper-pagination-bullet {

    width: 12px;

    height: 12px;

    background: #d1d5db;

    opacity: 1;

    transition: .35s;

}

.hero-project-swiper .swiper-pagination-bullet-active {

    width: 34px;

    border-radius: 30px;

    background: #524caf;

}

/*==================================
    INACTIVE SLIDES
===================================*/

.swiper-slide {

    opacity: .55;

    transition: .45s;

}

.swiper-slide-active {

    opacity: 1;

}

.swiper-slide-prev,
.swiper-slide-next {

    opacity: .82;

}

/*==================================
        RESPONSIVE
===================================*/

@media(max-width:991px) {

    .hero-project-slide {

        width: 300px !important;
        height: 440px;

    }

    .project-card {

        height: 440px;

    }

}

@media(max-width:576px) {

    .hero-project-slide {

        width: 260px !important;
        height: 390px;

    }

    .hero-project-swiper .swiper-pagination {
        display: none;
    }

    .main_card_body {
        position: relative;
        top: 8px;
    }

    .project-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;

        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 3;
        /* Standard property for future support */
    }

    /* .project-tech {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 4;
    } */
    .swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal {
        display: none;
    }

    .project-category {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 3;
        /* Standard property for future support */
    }

    .hero-project-swiper {
        width: 100%;
        height: 48em;
    }

    .project-card {

        height: 47em;

    }

    .project-title {

        font-size: 25px;

    }

    .project-tech {
        gap: 10px;
    }

    .project-tech span {
        padding: 10px 15px;
        font-size: 14px;
    }

    .project-category {
        font-size: 18px;
    }

    .project-buttons {

        flex-direction: column;

    }

}

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.hero-left {
    padding-right: 40px;
}

.hero-project-swiper {
    width: 100%;
}


/* ==========================
      Navigation Wrapper
========================== */

.hero-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
}

/* ==========================
        Prev & Next
========================== */

.hero-prev {

    width: 52px;
    height: 52px;

    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background: #ffffff;

    color: #524caf;

    font-size: 20px;

    box-shadow: 0 12px 30px rgba(0, 0, 0, .12);

    transition: .35s ease;
    position: absolute;
    top: 19em;
    left: 49%;
    z-index: 999;
}

.hero-next {

    width: 52px;
    height: 52px;

    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background: #ffffff;

    color: #524caf;

    font-size: 20px;

    box-shadow: 0 12px 30px rgba(0, 0, 0, .12);

    transition: .35s ease;
    position: absolute;
    top: 19em;
    right: 4em;
    z-index: 999;
}

/* Tablets only */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-next {
        top: 35em !important;
        right: 2em !important;
    }
     .hero-prev {
        top: 35em !important;
        left: 5% !important;
    }
}

.hero-prev:hover,
.hero-next:hover {

    background: #524caf;

    color: #fff;

    transform: translateY(-4px);

    box-shadow: 0 18px 40px rgba(82, 76, 175, .35);

}

/* Disabled */

.hero-prev.swiper-button-disabled,
.hero-next.swiper-button-disabled {

    opacity: .45;
    cursor: not-allowed;

}