.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 24px;
    margin-top: 60px;
}

.skill-card {

    background: var(--secondary);

    border-radius: 18px;

    padding: 28px 20px;

    text-align: center;

    border: 1px solid rgba(255, 255, 255, .06);

    transition: .35s;

    cursor: pointer;

}

.prabhat_projects {
    width: 412px !important
}

.my_new_project_card {
    position: relative !important;
}

.skill-card:hover {

    transform: translateY(-10px);

    border-color: var(--primary);

    box-shadow: 0 18px 40px rgba(0, 0, 0, .25);

}

.skill-card img {

    width: 60px;

    height: 60px;

    margin-bottom: 18px;

    transition: .35s;

}

.skill-card:hover img {

    transform: scale(1.15) rotate(8deg);

}

.skill-card h5 {

    color: #fff;

    font-size: 18px;

    margin: 0;

    font-weight: 600;

}